:root {
  --logo-font-family: "Raleway", sans-serif;
  --text-font-family: "Roboto", sans-serif;
  --paragraph-color: #434455;
}

body {
  font-family: var(--text-font-family);
  background-color: #ffffffff;
  color: #434455;
}

.link {
  text-decoration: none;
}

.nav-links:hover {
  color: #404bbf;
}

.nav-links:focus {
  color: #404bbf;
}

.list {
  list-style: none;
  background-color: #ffffffff;
}

.logo {
  font-family: var(--logo-font-family);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
}
.first-logo-word {
  color: #4d5ae5;
}
.second-logo-word {
  color: #2e2f42;
}

.second-logo-word-white {
  color: #f4f4fd;
}

.nav-links {
  font-family: var(--text-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #2e2f42;
}

.adresses {
  font-family: var(--text-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #434455;
}

.adresses:hover {
  color: #404bbf;
}

.adresses:focus {
  color: #404bbf;
}

.adresses-font {
  font-style: normal;
}
.hero-image {
  background-color: #2e2f42;
}
.header-first {
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  line-height: 1.07;
}

.order-button {
  font-family: var(--text-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
}

.order-button:hover {
  background-color: #404bbf;
}

.order-button:focus {
  background-color: #404bbf;
}

.header-third {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  color: #2e2f42;
  background-color: #ffffffff;
}

.paragraph {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #434455;
}

.center {
  text-align: center;
}

.header-second {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  line-height: 1.11;
  text-transform: capitalize;
}

.footer {
  background-color: #2e2f42;
}

.filter {
  border: 1px;
  color: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: center;
  line-height: 1.5;
  cursor: pointer;
  font-family: var(--text-font-family);
  background-color: #f4f4fd;
}

.filter:active {
  background-color: #404bbf;
  color: #ffffff;
}
.filter:hover {
  background-color: #404bbf;
  color: #ffffff;
}
.filter:focus {
  background-color: #404bbf;
  color: #ffffff;
}

.paragraph-footer {
  color: #f4f4fd;
}
.team {
  background-color: #f4f4fd;
}

.header-hidden {
  background-color: #ffffffff;
}
.white-background {
  background-color: #ffffffff;
}
